body {
    background-image: none;
    width: 100%;
}

#map {
    /* width: 750px; */
    width: 55%;
    height: 450px;
}

header {
    margin-top: 100px;
}

main {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}

table {
    width: 40%;
    border-collapse: collapse;
    height: fit-content;
    margin-left: 25px;
    /* font-family: 'Architects Daughter', cursive; */
}

th {
    /* color: rgb(248, 66, 66); */
    color: rgb(82, 148, 38);
    background-color: rgba(202, 219, 228, 0.582);
    font-size: 1.5rem;
}

tr {
    width: 9rem;
    height: 3rem;
    border: 1px solid black;
    font-size: 1.5rem;
}

.lat,
.lng,
.id {
    font-size: 1.3rem;
}

.custom-map-control-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
}