* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.inputs-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-div {
    height: 40px;
    border: black 2px solid;
    background-color: rgb(228, 190, 66);
    display: inline-block;
    width: 500px;
    margin: auto;
    margin-top: 10px;
    line-height: 40px;
    border-radius: 8px;
}

.btn-set {
    height: 40px;
    border: black 2px solid;
    background-color: rgb(228, 90, 66);
    display: inline-block;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    line-height: 40px;
    border-radius: 8px;
}